*{
	font-family: "Open Sans", sans-serif;
}

html {
	box-sizing: border-box;
 }

body {
background-color: grey !important;
}

.navbar li{
        font-size: 15px;
    }

.navbar li a{
        color: white;
        text-decoration: none;
    }

    /* Header */
    #hero{
        background-image: url(img/header.jpg);
        min-height: 90vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top 25% right 0;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid white;
        color: white;
    }
    
    #hero h4, h1{
        padding-bottom: 15px;
    }

/* services section css */
.servicesText.card {
    cursor: pointer;
  }

.card-title {
    text-align: center;
}

.servicesText:hover {
    border: 1px solid #fff;
}

/* Testimonials */


.testimonial{
	background: #fff;
	padding: 30px;
}

.inner{
    text-align: center;
    color: black;
}
.testimonial img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.name{
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 0;
}

.star{
	color: rgb(243, 181, 25);
	margin-bottom: 20px;
}

@media screen and (max-width:960px) {
	.col{
		flex: 100%;
		max-width: 80%;
	}
}

/* New Arrivals */


#product1{
	text-align: center;
    color: black;
}

.text-center{
    color: black;
}

#product1 .pro-container{
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
}

#product1 .pro{
	width: 23%;
	min-width: 250px;
	padding: 10px 12px;
	border-radius: 25px;
	cursor: pointer;
	margin: 15px 0;

}

#product1 .pro img{
	width: 100%;
	border-radius: 20px;
}

#product1 .pro .des{
	text-align: start;
	padding: 10px 0;
}

#product1 .pro .des span{
	color: black;
	font-size: 16px;
}

#product1 .pro .des .h5{
	padding-top: 7px;
	color: #000;
	font-size: 14px;
}

#product1 .pro .des i{
	font-size: 12px;
	color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
	padding-top: 7px;
	font-size: 15px;
	font-weight: 700;
	color: #000;
}

